@font-face {
    font-family: "Gilroy";
    font-weight: bold;
    font-style: normal;
    src: local("Gilroy-ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 300;
    font-style: normal;
    src: local("Gilroy-Light"), local("Gilroy-Light"), url("../fonts/gilroylight.woff") format("woff"), url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
    font-family: "OpenSans";
    font-weight: normal;
    font-style: normal;
    src: local("Open Sans"), local("OpenSans"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
    font-family: "OpenSans";
    font-weight: 300;
    font-style: normal;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
}

body {
    margin: 0;
    padding: 0;
    font-family: "OpenSans", "Tahoma", sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 1160px;
}

a {
    text-decoration: none;
    color: black;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    font-family: "Gilroy", "Arial Black", sans-serif;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page-header {
    display: flex;
    justify-content: space-around;
    min-width: 1160px;
    position: relative;
}

.page-main {
    display: flex;
    flex-direction: column;
    min-width: 1160px;
}

.page-footer {
    display: flex;
    justify-content: space-around;
    min-width: 1160px;
    background-color: #6a6a6a;
    overflow: hidden;
}

.container-header {
    display: flex;
    flex-direction: column;
    padding: 54px 57px 163px 59px;
    margin-top: 40px;
    min-width: 1160px;
    height: 299px;
    background-color: #f7e296;
    position: relative;
}

.container-catalog-header {
    display: flex;
    flex-direction: column;
    padding: 54px 57px 0 59px;
    margin-top: 40px;
    min-width: 1160px;
    height: 185px;
    background-color: #f7e296;
    position: relative;
}

.container-footer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    min-width: 1160px;
    height: 323px;
    padding: 70px 0 47px;
}

.catalog-container-footer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    min-width: 1160px;
    height: 335px;
    padding: 75px 0 50px;
}

.catalog-container-footer .footer-bottom {
    height: 74px;
}

.catalog-container-footer .footer-middle p {
    padding-bottom: 2px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
    letter-spacing: 0.02em;
    margin-top: -4px;
}

.search input {
    border: none;
    background-color: inherit;
    margin-left: 19px;
    margin-top: 3px;
    position: relative;
    letter-spacing: 0.016em;
}

.servic-interface li:nth-child(1) {
    justify-content: space-between;
}

.plus {
    position: relative;
    left: 4px;
    top: 2px;
    opacity: 0.6;
    z-index: 11;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.user-interface {
    display: flex;
    justify-content: space-between;
    width: 494px;
    letter-spacing: 0.01em;
    position: relative;
}

.user-interface li:nth-of-type(1) {
    width: 280px;
    padding-left: 18px;
}

.user-interface li:nth-of-type(2) {
    width: 120px;
    padding-left: 22px;
}

.user-interface li:nth-of-type(3) {
    width: 100px;
    padding-left: 36px;
}

.user {
    margin-right: 15px;
}

.header-top li:hover,
.header-top li:hover,
.logo-header-hover:hover,
.servic-interface li:hover,
.column-1 li:hover,
.column-2 li:hover,
.column-3 li:hover,
a.catalog-first-item:hover {
    opacity: 0.6;
}

.header-top li:active,
.header-top li:active,
.logo-header-hover:active,
.servic-interface li:active,
.column-1 li:active,
.column-2 li:active,
.column-3 li:active,
a.catalog-first-item:active {
    opacity: 0.3;
}

.pixelperfect img {
    display: block;
    position: relative;
    right: 3px;
}

.user::before {
    content: url(../img/user.svg);
    position: absolute;
    left: -10px;
}

.cart::before {
    content: url(../img/cart.svg);
    position: absolute;
    right: 74px;
}

.compare::before {
    content: url(../img/compare.svg);
    position: absolute;
    right: 206px;
}

.servic-interface {
    text-transform: uppercase;
    max-width: 670px;
}

.servic-interface li:first-child {
    margin-right: 26px;
}

.servic-interface li:nth-child(2) {
    margin-right: 100px;
}

.servic-interface li:nth-child(3) {
    margin-right: -1px
}

.btn-style {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    text-transform: uppercase;
    width: 220px;
    height: 40px;
    margin-top: 36px;
    margin-bottom: 45px;
    padding-left: 5px;
    letter-spacing: 0.2em;
    background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
    text-align: center;
}

.btn-style:hover {
    background-image: linear-gradient(transparent 0%, #f0c52e 0%, #f0c52e 100%, transparent 100%);
}

.btn-style:active span {
    opacity: 0.3;
}

.logo-header {
    position: absolute;
    left: 57px;
    top: -28px;
}

.catalog-logo-header {
    position: absolute;
    left: 58px;
    top: -27px;
}

.header-top ul,
.footer-top {
    margin: 0;
    padding: 0;
    font-family: "OpenSans", "Tahoma", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.header-top li,
.footer-top li,
.servic-interface li {
    display: inline-block;
    vertical-align: middle;
}

.header-top input {
    font-family: "OpenSans", "Tahoma", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.header-bottom,
.footer-middle:not(p) {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
}

.catalog,
.catalog-navigation-hidden ul,
.catalog2-navigation-hidden ul,
.servic-interface,
.footer-top ul,
.footer-middle ul,
.social-buttons,
.brands li,
.brands ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-navigation-hidden {
    font-family: "OpenSans";
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    display: none;
    flex-direction: row;
    align-content: flex-start;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 1160px;
    height: 167px;
    padding-left: 60px;
    padding-top: 41px;
    text-transform: none;
    line-height: 36px;
    letter-spacing: 0.015em;
    
}

.catalog2-navigation-hidden {
    display: none;
    font-family: "OpenSans";
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    flex-direction: row;
    align-content: flex-start;
    position: absolute;
    left: 0;
    bottom: -113px;
    width: 1160px;
    height: 167px;
    padding-left: 60px;
    padding-top: 41px;
    text-transform: none;
    line-height: 36px;
    letter-spacing: 0.015em;
}

.catalog:hover .catalog-navigation-hidden {
    display: flex;
    background-color: #f7e296;
    z-index: 2;
}

.catalog:hover .catalog2-navigation-hidden {
    display: flex;
    background-color: #f7e296;
    z-index: 2;
}

.slider-col-2 p:first-of-type,
.slider-col-2 p:nth-of-type(2) {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 47px;
    line-height: 0;
}

.slider-col-2 p:first-of-type {
    margin-top: 63px;
    letter-spacing: 0.017em;
}

.slider-col-2 p:nth-of-type(2) {
    margin-top: 9.4px;
    letter-spacing: 0.01em;
}

.promo-sliders p:nth-of-type(3) {
    font-family: "OpenSans";
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
}

.promo-sliders p:nth-of-type(3) {
    margin-top: 7px;
    letter-spacing: 0.01em;
    margin-bottom: 0px;
}

.promo-sliders p:nth-of-type(4) {
    font-family: "OpenSans";
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.03px;
}

.slider-number {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 179.2px;
    color: #ffffff;
    position: absolute;
    right: 49px;
    top: -28px;
}

.promo-sliders,
.popular,
.brands,
.info {
    min-width: 1160px;
    margin: 0 auto;
}

.popular-item2-list, 
.brands-list, 
.footer-service-interface, 
.social-buttons {
    flex-wrap: wrap;
}

.slide-1-table {
    margin-top: -7px;
    width: 428px;
    height: 89px;
    border-collapse: collapse;
}

.slide-1-table th {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    height: 58px;
}

.slide-1-table td {
    font-family: "OpenSans";
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    height: 30px;
    padding-top: 10px;
}

.slide-1-table td:nth-child(1) {
    text-align: left;
}

.slide-1-table td:nth-child(2) {
    text-align: right;
}

.slide-1-table td:nth-child(3) {
    text-align: center;
    padding-left: 12px;
}

.slide-1-table th:first-child {
    text-align: left;
    vertical-align: bottom;
}

.slide-1-table th:nth-child(2) {
    text-align: right;
    vertical-align: bottom;
    width: 94px;
}

.slide-1-table th:nth-child(3) {
    text-align: right;
    vertical-align: bottom;
}

.popular li {
    display: inline-block;
    vertical-align: middle;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
}

.services-slider-controls {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
}

.services-slider h2,
.info h2 {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 47px;
}

.services-slider p,
.info p,
.footer-middle p {
    font-family: "OpenSans";
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.footer-middle li {
    display: inline-block;
    vertical-align: middle;
}

.info li {
    list-style: none;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 40px;
}

.breadcrumbs {
    font-family: "OpenSans";
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
    color: rgba(0, 0, 0, .3);
}

.breadcrumbs a {
    color: rgba(0, 0, 0, .3);
}

.breadcrumbs a:first-child:hover,
.breadcrumbs a:nth-of-type(2):hover {
    color: rgba(0, 0, 0, .6);
}

.breadcrumbs a:first-child:active,
.breadcrumbs a:nth-of-type(2):active {
    color: rgba(0, 0, 0, .1);
}

main h1 {
    font-size: 47px;
}

.filter legend {
    list-style: none;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
}

.filter h2 {
    font-size: 16px;
}

.filter:not(legend):not(.filter-slide) {
    font-family: "OpenSans";
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

.goods-header h3,
.goods-footer ul {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
}

.goods-header ul {
    font-family: "OpenSans";
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.goods-header li,
.goods-footer li {
    display: inline-block;
    vertical-align: middle;
}

.goods-header-list a {
    color: rgba(0, 0, 0, .3);
}

.goods-header-list a:hover {
    color: rgba(0, 0, 0, .6);
}

.goods-header-list a:active {
    color: rgba(0, 0, 0, 1);
}

.icon-down,
.icon-up {
    fill: rgba(0, 0, 0, .2);
}

.icon-down:hover,
.icon-up:hover {
    fill: rgba(0, 0, 0, .4);
}

.icon-down:active,
.icon-up:active {
    fill: rgba(0, 0, 0, 1);
}

.item p {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    max-width: 290px;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
}

.menu-hover li:last-child {
    font-family: "OpenSans";
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
}

.column {
    margin-right: 58px;
}

.column:nth-child(2) {
    margin-right: 65px;
}

.search-style input[type="search"]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .4);
}

.search-style input[type="search"]:-ms-input-placeholder {
    color: rgba(0, 0, 0, .4);
}

.search-style input[type="search"]::-ms-input-placeholder {
    color: rgba(0, 0, 0, .4);
}

.search-style input[type="search"]::placeholder {
    color: rgba(0, 0, 0, .4);
}

.search-style {
    position: relative;
}

.search-style:focus-within input[type="submit"]{
    display: block;
}

.search-style::after {
    content: url(../img/search.svg);
    position: absolute;
    left: 4px;
    top: 1px;
}

.search-style input[type="search"]:hover::placeholder {
    color: rgba(0, 0, 0, .6);
}

.search-style input[type="search"]:focus::placeholder {
    color: rgba(0, 0, 0, .9);
}

.search-style input[type="search"]:focus {
    outline-color: transparent;
    border-bottom: 2px solid black;
    border-top: 2px solid transparent;
}

.search-style input[type="search"] {
    display: inline-block;
    vertical-align: middle;
    width: 358px;
    height: 50px;
    position: relative;
    left: -20px;
    top: -20px;
    padding-left: 40px;
    background-color: #f7e296;
}

.search-style input[type="submit"] {
    display: none;
    position: absolute;
    left: 337px;
    top: -19px;
    height: 49px;
    width: 85px;
    border: 2px solid black;
    background-color: #f7e296;
}

.search-style input[type="submit"]:hover {
    background-color: black;
    color: white;
}

.search-style input[type="submit"]:active {
    color: rgba(106, 106, 106, 1);
}

.search-style input[type="search"]:focus~input[type="submit"],
.search-style input[type="submit"]:active {
    display: inline-block;
    vertical-align: middle;
}

.logo-footer {
    position: absolute;
    left: -2px;
    top: 55px;
}

.catalog-container-footer .logo-footer:hover {
    opacity: 0.6;
}

.catalog-container-footer .logo-footer:active {
    opacity: 0.3;
}

.footer-top {
    align-self: flex-end;
}

.footer-user-interface {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 299px;
}

.user-footer svg {
    position: absolute;
    left: -25px;
    top: 2px;
}

.compare-footer svg {
    position: absolute;
    left: 87px;
    top: 4px;
}

.cart-footer svg {
    position: absolute;
    right: 70px;
    top: 2px;
}

.user-footer span,
.compare-footer span,
.cart-footer span {
    opacity: 0.7;
}

.user-footer:hover svg,
.compare-footer:hover svg,
.cart-footer:hover svg {
    opacity: 0.6;
}

.user-footer:hover span,
.compare-footer:hover span,
.cart-footer:hover span {
    opacity: 1;
}

.user-footer:active svg,
.compare-footer:active svg,
.cart-footer:active svg,
.user-footer:active span,
.compare-footer:active span,
.cart-footer:active span {
    opacity: 0.3;
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-middle {
    display: flex;
    justify-content: space-between;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-service-interface {
    display: flex;
    justify-content: space-between;
    width: 410px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.footer-service-interface li:hover {
    opacity: 0.6;
}

.footer-service-interface li:active {
    opacity: 0.3;
}

.footer-service-interface li:first-child {
    margin-left: -27px;
}

.footer-service-interface li:nth-child(2) {
    margin-left: 2px;
}

.footer-service-interface li:nth-child(3) {
    margin-right: 10px;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    width: 140px;
    margin-top: 17px;
    margin-left: -52px;
}

.social-buttons a {
    opacity: 0.3;
}

.social-buttons a:hover {
    opacity: 1;
}

.social-buttons a:active {
    opacity: 0.1;
}

.page-footer a {
    color: white;
}

.page-footer p {
    color: white;
}

.footer-decor {
    width: 80px;
    border-bottom: 7px solid #ffc600;
    align-self: center;
}

.copyright:hover {
    opacity: 0.6;
}

.copyright:active {
    opacity: 0.3;
}

.promo-sliders {
    position: relative;
    width: 1160px;
}

#btn-1:focus~.slider-controls label[for="btn-1"],
#btn-2:focus~.slider-controls label[for="btn-2"],
#btn-3:focus~.slider-controls label[for="btn-3"] {
    opacity: .5
}

#btn-4:focus~.services-slider-controls label[for="btn-4"],
#btn-5:focus~.services-slider-controls label[for="btn-5"],
#btn-6:focus~.services-slider-controls label[for="btn-6"] {
    opacity: .5;
}

.slider-controls label {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px #050505;
    margin: 0 10px;
    cursor: pointer;
    border-color: #050505;
    background-image: url("../img/slider-button-empty.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slider-controls {
    position: absolute;
    right: 73px;
    top: 212px;
    z-index: 10;
}

#btn-1:checked~.slider-controls label[for="btn-1"],
#btn-2:checked~.slider-controls label[for="btn-2"],
#btn-3:checked~.slider-controls label[for="btn-3"] {
    background-image: url("../img/slider-button.svg");
    background-position: 50% 50%;
    background-size: 10px;
}

#btn-1:checked~.slider-inner .slider-sliders {
    transform: translate(0);
    transition: 0.7s;
}

#btn-2:checked~.slider-inner .slider-sliders {
    transform: translate(-1160px);
    transition: 0.7s;
}

#btn-3:checked~.slider-inner .slider-sliders {
    transform: translate(-2320px);
    transition: 0.7s;
}

#btn-4:checked~.services-slider-controls label[for="btn-4"],
#btn-5:checked~.services-slider-controls label[for="btn-5"],
#btn-6:checked~.services-slider-controls label[for="btn-6"] {
    width: 101%;
    justify-content: flex-start;
    padding-left: 20.5px;
    background-image: linear-gradient(black 0%, black 100%);
    color: white;
}

#btn-4:checked~.services-slider-inner .services-slider-sliders {
    transform: translate(0);
    transition: 0.7s;
}

#btn-5:checked~.services-slider-inner .services-slider-sliders {
    transform: translate(-876px);
    transition: 0.7s;
}

#btn-6:checked~.services-slider-inner .services-slider-sliders {
    transform: translate(-1752px);
    transition: 0.7s;
}

.slider-sliders {
    width: 300%;
    min-height: 486px;
}

.slider-inner {
    overflow: hidden;
    width: 1160px;
    min-height: 486px;
    margin-top: -111px;
    
}

.slider {
    display: flex;
    justify-content: space-around;
    width: 1160px;
    min-height: 486px;
    float: left;
}

.slider-2 p:first-of-type {
    width: 270px;
    line-height: 50px;
    margin: 40px 0;
}

.slider-2 p:nth-of-type(2) {
    margin-bottom: 10px;
}

.slider-col-1 {
    padding-left: 25px;
    width: 580px;
    padding-left: 90px;
}

.slider-col-2 {
    position: relative;
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 37px;
}

.promo-decor {
    width: 100px;
    border-bottom: 7px solid #ffffff;
}

.popular {
    display: flex;
    justify-content: space-around;
    width: 1160px;
    min-height: 287px;
    margin-top: 86px;
}

.popular-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    margin-bottom: 35px;
}

.popular ul {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    flex-shrink: 0;
    padding-left: 0;
}

.popular li {
    cursor: pointer;
}

.popular h3 {
    width: 160px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
}

.popular-item1-hover:hover .popular-item-1 {
    background-color: #f0c52e;
}

.popular-item1-hover:active img {
    opacity: 0.3;
}

.popular-item-2 img {
    margin-bottom: -39px;
    margin-left: 3px;
}

.popular-item2-hover:hover .popular-item-2 {
    background-color: #f0c52e;
}

.popular-item2-hover:active img {
    opacity: 0.3;
}

.popular-item-2+h3 {
    width: 117px;
    letter-spacing: 0.023em;
}

.popular-item-3 img {
    margin-left: 10px;
    margin-top: 3px;
}

.popular-item3-hover:hover .popular-item-3 {
    background-color: #f0c52e;
}

.popular-item3-hover:active img {
    opacity: 0.3;
}

.popular-item-3+h3 {
    letter-spacing: 0.01em;
}

.popular-item-4 img {
    margin-top: 5px;
    margin-left: 4px;
}

.popular-item4-hover:hover .popular-item-4 {
    background-color: #f0c52e;
}

.popular-item4-hover:active img {
    opacity: 0.3;
}

.popular-item-4+h3 {
    letter-spacing: 0.09px;
    white-space: nowrap
}

.popular-item-5 img {
    margin-left: 8px;
    margin-top: 3px;
}

.popular-item5-hover:hover .popular-item-5 {
    background-color: #f0c52e;
}

.popular-item5-hover:active img {
    opacity: 0.3;
}

.popular-item-5+h3 {
    letter-spacing: 0.21px;
}

.popular-item-6 img {
    margin-top: 7px;
    margin-right: 1px;
}

.popular-item6-hover:hover .popular-item-6 {
    background-color: #f0c52e;
}

.popular-item6-hover:active img {
    opacity: 0.3;
}

.popular-item-6+h3 {
    letter-spacing: 0.009em;
}

.services {
    min-height: 288px;
    background-color: #e5e5e5;
    margin-top: 150px;
}

.container-services {
    display: flex;
    width: 1160px;
    height: 288px;
    margin: 0 auto;
}

.services-slider-controls {
    display: flex;
    flex-direction: column;
    width: 289px;
    height: 319px;
    border-right: 7px solid black;
    margin-top: -99px;
}

.services-slider-sliders {
    margin-top: -99px;
    width: 2728px;
}

.services-slider-sliders::after {
    display: block; 
    content: ""; 
    clear: both;
}

.services-slider {
    width: 876px;
    min-height: 319px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    position: relative;
    z-index: 1;
}

.services-slider-inner {
    width: 890px;
    min-height: 319px;
    overflow: hidden;
    position: relative;
    bottom: 30px;
}

.services-slider-controls label {
    margin-top: -20px;
    margin-left: -1px;
}

.services-slider-controls label:nth-child(1) {
    margin-top: 80px;
}

.services-slider {
    padding: 60px 0 0 72px;
}

.services-slider h2 {
    letter-spacing: 0.021em;
    margin-bottom: 33px;
}

.col {
    margin-left: 45px;
    margin-top: 31px;
}

.col p {
    line-height: 9px;
    letter-spacing: 0.3px;
}

.col p:first-of-type {
    letter-spacing: 0.2px;
    line-height: 22px;
}

.col p:last-of-type {
    line-height: 20px;
    letter-spacing: 0.2px;
}

.services-slider img {
    position: absolute;
    top: 115px;
    right: 66px;
}

.btn-label {
    width: 160px;
    cursor: pointer;
}

.btn-label:nth-child(1):active {
    width: 101%;
    justify-content: flex-start;
    padding-left: 20.5px;
    background-image: linear-gradient(black 0%, black 100%);
    color: white;
    transition: 0.5s;
}

.btn-label:nth-child(2):active {
    width: 101%;
    justify-content: flex-start;
    padding-left: 25.5px;
    background-image: linear-gradient(black 0%, black 100%);
    color: white;
    transition: 0.5s;
}

.btn-label:nth-child(3):active {
    width: 101%;
    justify-content: flex-start;
    padding-left: 39px;
    background-image: linear-gradient(black 0%, black 100%);
    color: white;
    transition: 0.5s;
}

.brands {
    padding-top: 95px;
    padding-right: 2px;
    width: 1160px;
}

.brands-list {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.brands-list li {
    filter: grayscale(100%);
    opacity: 0.3;
}

.brands-list li:hover {
    filter: grayscale(0%);
    opacity: 1;
    transition: 0.5s;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin-top: 100px;
    position: relative;
    margin-bottom: 37px;
}

.info-decor {
    width: 80px;
    border-bottom: 7px solid black;
    align-self: center;
    position: absolute;
    top: -10px;
}

.about-us p:first-of-type {
    width: 430px;
    line-height: 30px;
    letter-spacing: 0.1px;
    padding-top: 2px;
}

.about-us p:nth-of-type(2) {
    margin-top: 37px;
    margin-bottom: 10px;
    letter-spacing: -0.18px;
}

.about-us p:nth-of-type(3) {
    margin-top: 13px;
    letter-spacing: -0.18px;
}

.about-us ul:first-of-type {
    margin-top: 72px;
    padding-left: 35px;
}

.about-us li {
    font-size: 16px;
    letter-spacing: 0.2px;
    list-style: circle;
}

.about-us .btn-style {
    width: 260px;
    margin-top: 54px;
}

.about-us.btn-style:active span {
    opacity: 0.3;
}

.contacts h2 {
    margin-bottom: 48px;
}

.contacts p:first-of-type {
    letter-spacing: 0.1px
}

.contacts p:nth-of-type(2) {
    line-height: 13px;
    letter-spacing: 0.1px;
}

.contacts img {
    margin-top: 31px;
}

.contacts .btn-style {
    width: 260px;
    margin-top: 67px;
}

.contacts.btn-style:active span {
    opacity: 0.3;
}

.slider-2 p:nth-of-type(2) {
    font-family: "OpenSans";
    font-weight: 300;
    font-style: normal;
    line-height: 15px;
    font-size: 15px;
}

.slider-3 p:nth-of-type(1) {
    line-height: 50px;
    margin-top: 36px;
    margin-bottom: 30px;
    position: relative;
}

.slider-3 p:nth-of-type(2) {
    font-family: "OpenSans";
    font-weight: 300;
    font-style: normal;
    line-height: 15px;
    font-size: 15px;
    margin-bottom: 5px;
}

.slider-3 p:nth-of-type(3) {
    margin-bottom: 55px;
}

.slider-3 .btn-style {
    margin: 0;
}

.slide-3-table {
    border-collapse: collapse;
    width: 280px;
    height: 80px;
    margin-top: 0px;
}

.slide-3-table th:nth-of-type(2),
.slide-3-table td:nth-of-type(2) {
    text-align: left;
}

.slide-3-table {
    margin-top: 35px;
    font-size: 13px;
}

.slider3-col-1 {
    margin-top: 70px;
    margin-left: 30px;
}

.page-catalog {
    display: flex;
    flex-direction: column;
    min-width: 1160px;
}

.page-catalog-header {
    padding: 4px 0 0 60px;
    letter-spacing: 0.038em;
    width: 1160px;
    margin: 0 auto;
}

.page-catalog-header ul {
    margin-top: -8px;
    margin-left: -1px
}

.page-catalog-header li {
    letter-spacing: 0.13em
}

.container-catalog-main {
    display: flex;
    min-width: 1160px;
    margin-top: 50px;    
}

.filter {
    display: flex;
    flex-direction: column;
    min-width: 326px;
    background-color: #eeeeee;
}

.left {
    width: 100%;
    background-image: linear-gradient(#dcdcdc 0px, #dcdcdc 70px, #efefef 70px, #efefef 100%);
}

.right {
    width: 100%;
    background-image: linear-gradient(#efefef 0, #efefef 70px, transparent 70px, transparent 100%);
}

.goods {
    display: flex;
    flex-direction: column;
    min-width: 834px;
    margin-left:
}

.filter h2 {
    text-transform: uppercase;
    letter-spacing: 0.23em;
    line-height: 70px;
    background-color: #dbdbdb;
    margin: 0;
    padding-left: 61px;
}

.goods-header {
    background-color: #efefef;
    height: 70px;
    min-width: 834px;
    margin-bottom: 70px;
    padding-left: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goods-header ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 50px;
}

.goods-header li:nth-of-type(1) {
    flex-grow: 32;
}

.goods-header li:nth-of-type(2) {
    flex-grow: 35;
}

.goods-header li:nth-of-type(3) {
    flex-grow: 257;
}

.goods-header li:nth-of-type(4) {
    flex-grow: 23;
}

.goods-header li:nth-of-type(5) {
    flex-grow: 0;
}

.goods-header h2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.23em;
}

.grid-of-goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-of-goods .item:first-child {
    margin-left: 74px;
    margin-bottom: 34px;
}

.grid-of-goods .item:nth-child(2) {
    margin-bottom: 34px;
}

.grid-of-goods .item:nth-child(3) {
    margin-left: 74px;
}

.item {
    position: relative;
}

.item div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.item1 p {
    letter-spacing: 0.014em;
    line-height: 16px;
}

.item1 span,
.item2 span,
.item3 span,
.item4 span {
    letter-spacing: 0.01em;
}

.item2 p {
    width: 200px;
    letter-spacing: 0.021em;
    line-height: 19px;
}

.item3 {
    letter-spacing: 0.006em
}

.item4 p {
    width: 230px;
    letter-spacing: 0.018em;
    margin-top: 16px;
}

.item2 div:nth-of-type(2),
.item4 div:nth-of-type(2) {
    align-items: baseline;
}

.item:hover .menu-hover {
    display: flex;
}

.item:hover img {
    opacity: 0.7;
}

.menu-hover li:nth-child(2) a {
    color: rgba(0, 0, 0, 0.5);
}

.menu-hover li:nth-child(2) a:hover {
    color: rgba(0, 0, 0, 1);
}

.menu-hover li:nth-child(2) a:active {
    color: rgba(0, 0, 0, .2);
}

.menu-hover {
    display: none;
    width: 360px;
    height: 380px;
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 118px;
    padding-left: 37px;
}

.menu-hover .btn-style {
    width: 202px;
    margin-bottom: 17px;
}

.menu-hover .btn-style span {
    letter-spacing: 0.20em;
}

.menu-hover ul {
    list-style: none;
}

.filter-color-selection,
.filter-slider,
.filter-bluetooth-selection,
.filter input[type="submit"] {
    margin-left: 49px;
    width: 200px;
}

.filter-slider {
    border: none;
    height: 140px;
    position: relative;
    margin-top: 70px;
}

.filter-slider legend,
.filter-color-selection legend,
.filter-bluetooth-selection legend {
    border-top: 2px solid;
    width: 200px;
    padding-top: 12px;
    letter-spacing: 0.2px;
}

.filter-price-slider p {
    display: flex;
    justify-content: space-between;
    width: 145px;
    margin-top: 50px;
}

.filter-price-slider div:first-child {
    position: absolute;
    top: 61px;
    left: 5px;
    z-index: 1
}

.filter-price-slider div:nth-of-type(3) {
    position: absolute;
    top: 61px;
    left: 118px;
}

.filter-price-slider div:nth-of-type(2) {
    position: absolute;
    bottom: 68px;
    background-image: linear-gradient(90deg, #91c92f 120px, #dbdbdb 120px);
    width: 200px;
    height: 2px;
}

.filter-color-selection,
.filter-bluetooth-selection {
    border: none;
}

.filter-color-selection-list,
.filter-bluetooth-selection ul {
    list-style: none;
}

.filter-color-selection-list {
    width: 200px;
    height: 176px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 27px;
    position: relative;
    margin-bottom: 34px;
}

.filter-color-selection-list label {
    cursor: pointer;
}

.filter-color-item1::before {
    content: url("../img/checkbox-off.svg");
    position: absolute;
    left: 0;
    top: -4px;
}

.filter-color-item2::before {
    content: url("../img/checkbox-off.svg");
    position: absolute;
    left: 0;
    top: 36px;
}

.filter-color-item3::before {
    content: url("../img/checkbox-off.svg");
    position: absolute;
    left: 0;
    top: 76px;
}

.filter-color-item4::before {
    content: url("../img/checkbox-off.svg");
    position: absolute;
    left: 0;
    top: 115px;
}

.filter-color-item5::before {
    content: url("../img/checkbox-off.svg");
    position: absolute;
    left: 0;
    top: 156px;
    z-index: 1;
}

#black:checked+label::after {
    content: url("../img/checkbox-on.svg");
    position: absolute;
    left: 0;
    top: -4px;
}

#white:checked+label::after {
    content: url("../img/checkbox-on.svg");
    position: absolute;
    left: 0;
    top: 36px;
}

#blue:checked+label::after {
    content: url("../img/checkbox-on.svg");
    position: absolute;
    left: 0;
    top: 76px;
}

#red:checked+label::after {
    content: url("../img/checkbox-on.svg");
    position: absolute;
    left: 0;
    top: 115px;
}

#pink:checked+label::after {
    content: url("../img/checkbox-on.svg");
    position: absolute;
    left: 0;
    top: 156px;
}

.filter-bluetooth-selection-list {
    margin-top: 20px;
    padding-top: 8px;
    height: 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    position: relative;
}

.filter-bluetooth-selection-list label {
    cursor: pointer;
}

.filter-bluetooth-item1::before {
    content: url("../img/radio-off.svg");
    position: absolute;
    left: -1px;
    top: 0;
}

.filter-bluetooth-item2::before {
    content: url("../img/radio-off.svg");
    position: absolute;
    left: -1px;
    top: 42px;
}

#yes:checked+label::after {
    content: url("../img/radio-on.svg");
    position: absolute;
    left: -1px;
    top: 0;
}

#no:checked+label::after {
    content: url("../img/radio-on.svg");
    position: absolute;
    left: -1px;
    top: 42px;
}

.filter-color-item1:hover::before,
.filter-color-item1:hover::after,
.filter-color-item2:hover::before,
.filter-color-item2:hover::after,
.filter-color-item3:hover::before,
.filter-color-item3:hover::after,
.filter-color-item4:hover::before,
.filter-color-item4:hover::after,
.filter-color-item5:hover::before,
.filter-color-item5:hover::after,
.filter-bluetooth-item1:hover::before,
.filter-bluetooth-item1:hover::after,
.filter-bluetooth-item2:hover::before,
.filter-bluetooth-item2:hover::after {
    opacity: 0.6;
}

.filter-bluetooth-selection+input[type="submit"] {
    border: none;
    background-color: inherit;
}

.goods-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    height: 70px;
    background-color: #efefef;
    margin: 23px 0 73px 74px;
    text-transform: uppercase;
    letter-spacing: 0.22em;
    padding: 0;
}

.goods-footer-list {
    display: flex;
    min-width: 100px;
    justify-content: space-between;
    padding: 0;
    cursor: pointer;
}

.goods-footer span:first-of-type,
.goods-footer span:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 70px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
}

.goods-footer span:first-of-type {
    padding-top: 3px;
    padding-left: 11px;
}

.goods-footer span:last-of-type {
    padding-top: 3px;
    padding-right: 11px;
}

.goods-footer span:first-of-type:hover,
.goods-footer span:last-of-type:hover {
    background-color: #d9d9d9;
    cursor: pointer;
}

.goods-footer span:first-of-type:active,
.goods-footer span:last-of-type:active {
    color: rgba(0, 0, 0, .3)
}

.goods-footer-list li:nth-child(1) a,
.goods-footer-list li:nth-child(2) a,
.goods-footer-list li:nth-child(3) a {
    color: rgba(0, 0, 0, .3)
}

.goods-footer-list li:nth-child(1) a:hover,
.goods-footer-list li:nth-child(2) a:hover,
.goods-footer-list li:nth-child(3) a:hover {
    color: rgba(0, 0, 0, .6)
}

.goods-footer-list li:nth-child(1) a:active,
.goods-footer-list li:nth-child(2) a:active,
.goods-footer-list li:nth-child(3) a:active {
    color: rgba(0, 0, 0, 1)
}

.write-us {
    position: fixed;
    left: 50%;
/*    top: 50%;*/
    top: 100px;
    margin-left: -450px;
/*    transform: translate(-50%, -50%);*/    
    width: 960px;
    height: 580px;
    padding: 100px;
    background-color: #ffffff;
    z-index: 100;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 1px 50px rgba(0, 0, 0, 0.3);
    display: none;
}

.write-us-show {
    display: block;
    animation: bounce 0.6s;
}

.write-us-close {
    display: none;
}

.write-us input[placeholder],
.write-us textarea {
    font-family: "OpenSans";
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
}

.write-us input[placeholder]:hover,
.write-us textarea:hover {
    opacity: 0.4;
}

.write-us input[placeholder]:active,
.write-us input[placeholder]:focus,
.write-us textarea:active,
.write-us textarea:focus {
    outline: 3px solid #f7e296;
}

.write-us input[placeholder]:focus,
.write-us textarea:focus {
    background-color: #fff;
    opacity: 1;
}

.write-us textarea {
    padding: 20px;
    background-color: #e5e5e5;
    border: none;
    width: 770px;
    height: 156px;
    margin-top: 13px;
    resize: none;
    opacity: 0.5;
}

.write-us input:first-child {
    width: 360px;
    height: 50px;
    background-color: #e5e5e5;
    border: none;
    padding-left: 20px;
    margin-top: 13px;
    margin-bottom: 40px;
    opacity: 0.5;
}

.write-us div {
    display: flex;
    width: 760px;
}

.write-us-item {
    margin-right: 50px;
}

.write-us input[type="submit"] {
    margin-top: 50px;
    background-color: #fff;
    border: none;
}

.modal-close,
.modal-close-map {
    position: absolute;
    right: 22px;
    top: 22px;
    opacity: 0.5;
}

.modal-close:hover,
.modal-close-map:hover {
    opacity: 1;
}

.modal-close:active,
.modal-close-map:active {
    opacity: 0.3;
}

.modal-error {
  animation: shake 0.6s;
}

.map {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 960px;
    height: 559px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: none;
}

.map-show {
    display: block;
}

.main-catalog {
 overflow: hidden;
}

.container-catalog-main{
 position: relative;
 margin-left: auto;
 margin-right: auto;
 width: 1160px;
}

.left, .right{
 position: absolute;
 height: 100%;
 top: 0;
}

.left{
 right: 100%;
}

.right{
 left: 100%;
}

@keyframes bounce {
  0% {
    transform: translateY(-2300px);    
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}